<footer>
    <div id="Page-Footer">
        <h5>@ Codeial. All rights reserved.</h5>
    </div>
    <div id="page-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
        </ul>
    </div>
</footer>