<h2>Enter Email to reset password: </h2>

<form action="/users/recovery-email" method="POST">
    <input type="email" name="recovery_email" id="recovery_email" placeholder="Your Email" required>
    <input type="submit" value="Submit Email">
</form>

