<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" id="email" placeholder="Email" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <input type="submit" value="Sign In">
</form>
<a href="/users/auth/google">Sign In/Up using Google</a>
<a href="/users/forget-password">Forgot Password</a>