<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" id="name" required placeholder="Your Name">
    <input type="email" name="email" id="email" required placeholder="Your Email">
    <input type="password" name="password" id="password" required placeholder="Your Password">
    <input type="password" name="confirm_password" id="confirm_password" required placeholder="Confirm Password">
    <input type="submit" value="Sign Up">
</form>